<html>
  <head>
    {% if title %}
    <title>{{title}} is a good title</title>
    {% else %}
    <title>{{title}} is a good title indeed</title>
    {% endif %}
  </head>
  <body>
  <div><a href='/test'>Test Form</a></div>
  <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
	{% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
	<img src="../static/pic.png" width="60" height="60" align="top">
  </body>
</html>