{% extends "base.html" %}
{% block content %}
<script src="/static/assets/dist/js/requests.js"></script>
<link rel="stylesheet" href="/static/assets/dist/css/styles.css">
			<div class="content">
            <div class="row featurette">
                <div class="col-md-7">
                    <h1 class="featurette-heading"><span class="text-muted">Добро пожаловать</span></h2>
                    <h2 class="featurette-heading" style="font-size: 28px; color: #444">Это - главная страница проекта учеников Лицея 1523</p>
                    <p class="lead">Похоже на то, что вы уже начали пробовать наш метод определения профиля</p>
					<p class="lead">Вы можете допройти игру, нажав на кнопку ниже</p>
                </div>
            </div>
            <button class="big-blue-button" onclick="window.location.href={{url_for('game.load_vari')}}">Допройти игру</button>
        </div>
        </div>
{% endblock %}