{% extends "base.html" %}

{% block content %}
	<script src="/static/assets/dist/js/requests.js"></script>
        <div class="content">
			<form method="post" action="/register">
            <h1 class = "center" style="color: #666666; margin-bottom: 0;">Регистрация</h1>
            <div class = "center"> <input type="email" class="inputdata login-field" id="email" size="20" required placeholder="Email" name="email" style="padding-left: 15px;"/></div>
            <div class = "center"> <input type="text" class="inputdata login-field" id="login" size="20" required placeholder="Логин" name="login" style="padding-left: 15px;"/></div>
            <div class = "center"><input type="password" class="inputdata login-field" id="password" size="20" required  placeholder="Пароль" name="password" style="padding-left: 15px;"/></div>
            <div class = "center"> <p style="margin-bottom: 0px;"><input type="checkbox" checked name="remember"> Запомнить меня</p> </div>
			<div class = "center"> <p style="margin-bottom: 0px;">Уже есть аккаунт? <a href="/login" style="text-decoration: none;">Войти</a></p></div>
			</form>
            <div class = "center"> <button class="big-blue-button" style="width: 294px; padding-left: 15px;" onclick="register('/register/r')">Зарегестрироваться</button> </div>
			<div id="errorMessage center" style="display: none; position: absolute; top:33%; left:50%; transform: translate(-50%, -50%); width: 294px; background-color: #ffcccc; border-radius: 5px; margin-top: 20px; z-index: 999; opacity: 0; transition: opacity 0.5s;">
				<h3 class="center">Ошибка:</h3>
				<p class="center">Данный пользователь уже существует.</p>
				</div>
        </div>
{% endblock %}