{% extends "base.html" %}
{% block content %}


<script>
async function sendJSON(url){
	let response = await fetch(url, {
		method: 'POST',
		headers: {
			'Content-Type': 'text/plain;charset=utf8'
		},
		body: 6
	});
	
	let result = await response.text();
	
	let data = {"num": 2,
				"count": 1};
	
	let responsee = await fetch(result, {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json;charset=utf8'
		},
		body: JSON.stringify(data)
	});

} // вынести функцию в отдельный файл с последующим вызовом.
 </script> 
 
 <input type="button" class="is-info is-large is-fullwidth" onclick="sendJSON(url='/game/test')" value="Закончить игру заранее">
 </body>
 </html>
{% endblock %}